doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        h1 500 Internal Server Error
        <video id="video" loop="true" muted autoplay="autoplay">
            <source src="videoplayback.mp4" type="video/mp4">
        </video>
